.form-bg {
  background-color: var(--main-color-form);
}

.form-field-space {
  padding: 2rem;
}

.form-highlight-text {
  color: var(--highlight-color);
}

.form-base-text-color {
  color: var(--form-base-color);
}

.form-black-highlight {
  background-color: var(--opaque-black);
}

.form-item {
  --form-highlight-color-2 : hsl(42.39deg 46.38% 53.92%);
}